/* 文字色指定 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    color: #484845;
    max-width: 100%;
    border: none;
    font-family: arial;
}
body {
    background-color: #e2e5ea;
}

.box {
  position: relative;
  margin: 2em 0;
  padding: 0.5em 1em;
  border: solid 3px #838989;
  width: 70%;
}
@media screen and (max-width:480px) {

  .box {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #838989;
    width: 90%;
  }

}

.box .box-titel{
  position: absolute;
  display: inline-block;
  top: -27px;
  left: -3px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #838989;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.box p,a,ul,li {
  margin: 0; 
  padding: 0;
  list-style:none;
}